{% extends 'my_awards/base.html'%}
{% load bootstrap3% }
{% block content %} 
{{ block.super}}

<div class="container">
 
  <div class="row">
    
  <!-- Looping through news   -->
  {% for awards in images %}
    <!-- displaying images -->
  <div class="col-md-4">

    <h4><strong>{{awards.title}}</strong></h4>
    <img src="{{awards.image.url}}" class="img-responsive"alt="Image" width="500" height="500">
    <a href="{{awards.design}}"></a>

    <h4><strong>{{awards.description}}</strong></h4>
  </div>
 

  {% empty %}
  <div class="row">
    awards_project
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}