{% extends 'my_awards/base.html'%}
{% load bootstrap3% }
{% block content %} 
{{ block.super}}

<div class="container">
 

  <!-- Looping through news   -->
  {% for awards in images %}
    <!-- displaying News articles -->
  
  <img src="{{awards.image.url}}" class="img-responsive card-body"style="width:60%;height:60%;margin-top:10%;text-align:center" alt="Image">
  <strong><h5>{{awards.title}}</h5></strong>
  <strong><h5>{{awards.description}}</h5></strong>

 

  {% empty %}
  <div class="row">
 
  </div>
  {% endfor %}

</div>

{% endblock %}